@import "themeCore";

@mixin sublimeMonokaiTheme() {
    // We use this scope to contain any variables we want to define and reuse.

    $unspecified-text-color: rgb(250, 250, 250);
    $page-color: rgb(44, 41, 45);

    @include generate-theme(
        $theme-name: "sublime-monokai",

        $page-color: $page-color,
        $default-text-color: $unspecified-text-color,

        $menu-unselected-color: $unspecified-text-color,
        $menu-selected-color: $page-color, // #7db14a,

        $line-number-color: rgb(75, 75, 75),
        $current-line-color: rgb(197, 197, 197),
        $current-line-background-color: palegoldenrod,

        $comment-color: #9F9F9F,
        $function-color: orchid,
        $link-color: khaki,
        $link-focus-color: #485E6C,
        $function-name-color: #A6E22E,
        $key-color: rgb(227, 86, 121),
        $arg-color: rgb(244, 149, 83),
        $string-color: #E6DB74,
        $flat-file-key-color: rgb(34, 134, 58),
        $flat-file-value-color: rgb(206, 145, 120),
        $symbol-color: white,
    );
}

@include sublimeMonokaiTheme();
