@import "../menu";

@mixin indent-classes($indent-number) {
    @for $i from 1 through $indent-number {
        .indent#{$i} {
            text-indent: #{$i}em;
        }
    }
}

@include indent-classes(3);

.whole-line {
    display: inline-flex;
}

.line-break {
    color: transparent;
}

.sim-type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin generate-theme(
    $theme-name,
    $menu-unselected-color,
    $menu-selected-color,
    $line-number-color,
    $current-line-color,
    $current-line-background-color,
    $comment-color,
    $function-color,
    $link-color,
    $link-focus-color,
    $function-name-color,
    $arg-color,
    $key-color,
    $string-color,
) {
    @include menu-colors($theme-name, $menu-unselected-color, $menu-selected-color);

    .sim-type-#{$theme-name} {
        a {
            color: $link-color;
            font-weight: bold;

            &:focus {
                color: $link-focus-color
            }
        }

        a, span {
            white-space: pre;
        }

        .function {
            color: $function-color;
            font-style: italic;
        }

        .curr-line {
            color: $current-line-color;
            background-color: $current-line-background-color;
        }

        .line-number {
            font-size: 1em;
            justify-content: flex-start;
            margin-right: .5em;
            white-space: pre;
            color: $line-number-color;
        }

        .key {
            color: $key-color;
        }

        .string {
            color: $string-color;
        }

        .arg {
            color: $arg-color;
        }

        .space {
            white-space: pre;
        }

        .comment {
            color: $comment-color
        }

        .function-name {
            color: $function-name-color;
        }

        .title {
            font-weight: 600;
        }
    }
}
