@import "../variables";

@mixin getIndentCharacterContent($numChars) {
    $char: ".";
    $content: "";
    @for $i from 0 to $numChars {
        $content: $content + $char;
    }
    content: $content;
}

@mixin indent-classes($indent-number) {
    @for $i from 1 through $indent-number {
        .indent#{$i} {
            display: flex;
            opacity: 0.25;
            line-height: 0.75em;

            &::after {
                // @include getIndentCharacterContent(2 * $i);
                content: "..";
                color: white;
            }

            & + & {


                &::before {
                    content: "";
                    border-left: 1px solid white;
                }
            }
        }
    }
}

@include indent-classes(3);

.whole-line {
    display: inline-flex;
}

.line-break {
    color: transparent;
}

.#{$sim-type-class} {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
