@import "variables";
@import "utility";
@import "mediaQueries";
@import "simType";
@import "menu";
@import "themes/themeCore";
@import "themes/darkPlus";
@import "themes/capoLight";

html {
    font-family: Inconsolata, sans-serif;
    font-weight: 500;

    font-size: 1.4em;

    @include media-tablet-landscape-and-larger {
        font-size: 1em;
    }
}

body {
    overflow-y: hidden;
    margin: 0 !important;
}

#content {
    background: lime;
}

embed {
    width: 100%;
    height: $content-height;
}