@import "utility";
@import "themes/sublimeMonokai";

// TODO: re-evaluate these rules.
html {
    font-family: Inconsolata, sans-serif;
    background: #272822;
    color: rgb(175, 175, 148);
    font-weight: 500;
    font-size: 1.5em;
}

h2 {
    margin-right: 0.5em;
    margin-left: 3px;
    cursor: pointer;
    color: #7db14a;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5.5em;
    position: fixed;
    background-color: #272822;
    z-index: 5;
    width: 95%;
    overflow: hidden;
    height: 5em;
}

#codePages {
    margin-top: 5em;
    overflow: auto;
    max-width: 35em;
    margin-left: .5em;
}
